:root {
  --purple: rgb(62, 9, 62);
  --gold: rgb(204, 179, 34);
  --navy: rgb(29, 29, 73);
  --gray: #575757;
  --base: hsl(0, 0%, 95%);
  --light: hsl(0, 0%, 100%);

  --mn-pad: 139px;
  --nav-height: 10vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s all ease-out;
}
html {
  width: 100%;
  font-family: "Poppins";
  font-weight: 300;
  overflow-x: hidden;

  font-size: 16px;

  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* #REGION TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy) !important;
}
/* #END-REGION TYPOGRAPHY */

/* #REGION IMAGES */
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img--bg {
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1) opacity(0.2) brightness(0.5);
  z-index: -1;
}
/* #END-REGION IMAGES */

/* #REGION DECORATIVE */
.stripes {
  position: absolute;
  width: 60vw;
  height: 600vh;
  right: -30vw;
  top: -250vh;
  opacity: 0.8;
  background-color: var(--purple);
  transform: skew(-45deg);
}

.stripes::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 100%;
  background-color: var(--navy);
  margin-left: -1rem;
}

.stripes::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 100%;
  background-color: var(--gold);
}
/* #END-REGION DECORATIVE */

/* #REGION CONTROL */
a {
  text-decoration: none;
  color: var(--navy);
}
.nav__links .link {
  padding: 0 25px;
  border-right: 2px solid;
}
.nav__links .link {
  border-left-color: rgba(0, 0, 0, 0.86);
}
.nav__links .link:nth-last-child(1) {
  border: none;
}
.btn {
  padding: 1rem 2rem;
  margin: 1rem 0;
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--gold);
}
/* #REGION CONTROLS */
/* #END-REGION CONTROLS */
.nav--top {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  padding: 0 var(--mn-pad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.nav--up {
  background-color: var(--light);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.logo {
  font-size: 1.2em;
  height: var(--nav-height);
  line-height: var(--nav-height);
}
.nav__links {
  display: grid;
  grid-auto-flow: column;
}

.main {
  position: relative;
}
.container {
  position: sticky;
  width: 100%;
  height: 100vh;
  background-color: var(--base);
  display: flex;
  padding: calc(var(--mn-pad) / 2.5) var(--mn-pad);
}
.container--short {
  height: 70vh;
}
#header {
  padding-left: var(--mn-pad);
  padding-bottom: calc(var(--mn-pad) / 2.5);
  flex-direction: column;
  justify-content: flex-end;
  background-color: transparent;
}

.header-text {
  font-size: 28px;
  margin-top: 80px;
}
.hero {
  height: 40vh;
  margin-bottom: 5vh;
}
.hero-head {
  font-family: "Coalation";

  margin-bottom: 34px;
  position: relative;
}

.hero-head {
  font-size: 4rem;
  width: 40vw;
  margin-bottom: 0;
}

.sub-head {
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0.76;
}

/* end buttons */

.social-icons {
  width: 100px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: #636363; */
  display: block;
}
.card {
  background-color: var(--light);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
.card--overlap {
  position: relative;
  --p: calc(var(--mn-pad) / 1.5);
  display: flex;
  width: calc(100vw - var(--mn-pad));
  top: -10vh;
  height: 85vh;
  margin-top: -6vh;
  padding: 4rem var(--p);
}
.head-text {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.head-text::before {
  content: "";
  position: absolute;
  background-color: var(--gold);
  width: 4rem;
  height: 2px;
  top: -2rem;
}
.hr-list {
  position: absolute;
  bottom: var(--p);
  width: calc(100% - var(--p) * 2);
  height: 50vh;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}
.card--info {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  box-shadow: none;
  z-index: 1;
}
details {
  position: relative;
  margin-top: 9px;
  margin-bottom: 24px;
}
details summary::-webkit-details-marker {
  display: none;
  list-style-type: none;
}
details summary {
  position: relative;
  outline: none !important;
  cursor: pointer;
}
details[open] summary {
  background-color: #ddd;
}
details summary::before {
  position: absolute;
  content: "";
  left: -2rem;
  top: 0;
  width: 4px;
  height: 40px;
  background-color: black;
}
details:not([open]) summary::before {
  background-color: var(--gold);
}
details[open] summary ~ * {
  animation: show 1s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-2%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.link--more {
  font-weight: 400;
}
.card__img {
  position: absolute;
  top: -24px;
  left: -24px;
  width: 110%;
  height: 110%;
  z-index: -1;
}
footer {
  position: sticky;
  width: 100%;
  padding: 4rem var(--mn-pad);
  background-color: var(--base);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 4rem;
  bottom: 0;
  z-index: 10;
}
.footer__group {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__head {
  margin-bottom: 0.8rem;
  color: var(--navy);
}
.footer__item {
  margin: 0.1rem 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: calc(100vw - var(--mn-pad) * 2);
  height: 60vh;
  background-color: var(--light);
  padding: 4rem;
  display: grid;

  border: none;
  transform: translate(-50%, -50%);
}
.modal:not([open]) {
  opacity: 0;
}
.modal[open] {
  z-index: 9999;
  opacity: 1;
  animation: fadeIn 400ms;
}
.modal + .backdrop,
.modal::backdrop {
  background-image: linear-gradient(
    45deg,
    rgba(62, 9, 62, 0.5),
    rgba(204, 179, 34, 0.5)
  );
}
.modal__head {
  text-align: left;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 3rem;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
