:root {
  --purple: rgb(62, 9, 62);
  --gold: rgb(204, 179, 34);
  --navy: rgb(29, 29, 73);
  --gray: #575757;
  --base: hsl(0, 0%, 95%);
  --light: hsl(0, 0%, 100%);

  --mn-pad: 10vw;
  --sm-pad: 4rem;
  --nav-height: 10vh;

  --yellow-shadow: 0 0 24px 10px rgba(255, 191, 40, 0.527);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--base);
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: var(--base);
}
::-webkit-scrollbar-thumb {
  background-color: var(--navy);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 400ms all ease-out;
}
html {
  width: 100%;
  font-family: "Poppins";
  font-weight: 400;
  overflow-x: hidden;

  font-size: 14px;

  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* #REGION TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--navy) !important;
}
/* #END-REGION TYPOGRAPHY */

/* #REGION IMAGES */
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img--bg {
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1) opacity(0.2) brightness(0.5);
  z-index: -1;
}
/* #END-REGION IMAGES */

/* #REGION DECORATIVE */
.stripes {
  position: absolute;
  width: 60vw;
  height: 600vh;
  right: -30vw;
  top: -250vh;
  opacity: 0.8;
  background-color: var(--purple);
  transform: skew(-45deg);
}

.stripes::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 100%;
  background-color: var(--navy);
  margin-left: -1rem;
}

.stripes::after {
  content: "";
  position: absolute;
  width: 5vw;
  height: 100%;
  background-color: var(--gold);
}
.fab,
.fas {
  margin: 0 0.5rem;
}
/* #END-REGION DECORATIVE */

/* #REGION CONTROL */
a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--navy);
  font-weight: 500;
  display: flex;
  align-items: center;
}
a:hover {
  color: var(--gold);
}
.logo {
  position: relative;
  background-color: transparent !important;
  padding-left: 0 !important;
  z-index: 1;
}
.logo:hover {
  transform: scale(1.1);
}
.nav--top .link {
  position: relative;
  padding: 0.5rem 2rem;
}
.nav--top .link--primary {
  opacity: 0;
}
.nav--top.nav--up .link--primary {
  opacity: 1;
}
.link:hover,
.link--primary {
  background-color: var(--navy);
  color: var(--gold);
}
.btn {
  height: 4rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  filter: brightness(1);
}
.btn:hover {
  filter: brightness(0.86);
}
.btn--primary {
  background-color: var(--gold);
}
.btn--fill {
  color: var(--gold) !important;
  background-color: var(--navy);
}
.btn--modal {
  width: 100%;
  height: 4rem;
  display: grid;
  place-content: center;
  color: var(--navy);
  margin: 0;
  margin-top: 1rem;
  z-index: 2;
}
.btn--modal:hover {
  color: var(--gold);
  background-color: var(--navy);
  opacity: 0.86;
}
.link {
  text-transform: uppercase;
}
.menu--chk {
  display: none;
}
/* #REGION CONTROLS */
/* #END-REGION CONTROLS */
.nav--top {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  padding: 0 var(--mn-pad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.nav--up {
  background-color: var(--light);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.logo {
  font-size: 1.2em;
  height: var(--nav-height);
  line-height: var(--nav-height);
}
.nav__links {
  display: grid;
  grid-auto-flow: column;
}

.main {
  position: relative;
}
.container {
  position: sticky;
  width: 100%;
  height: 100vh;
  background-color: var(--base);
  display: flex;
  padding: var(--sm-pad) var(--mn-pad);
}
.container--short {
  height: 85vh;
}
#header {
  padding-left: var(--mn-pad);
  padding-bottom: var(--sm-pad);
  flex-direction: column;
  justify-content: flex-end;
  background-color: transparent;
}
#team {
  padding-left: 0;
  padding-right: 0;
}
#team,
#services {
  flex-direction: column;
  height: 80vh;
}
#services {
  height: 90vh;
}
#services::before,
#services::after {
  content: "";
  position: absolute;
  top: 45%;
  width: 15vw;
  height: 80vh;
  background-image: linear-gradient(90deg, var(--base), transparent);
  transform: translateY(-50%);
  z-index: 10;
}
#services::before {
  left: 0;
}
#services::after {
  background-image: linear-gradient(-90deg, var(--base), transparent);
  right: 0;
}
.service-list {
  height: 60vh;
  margin-top: 2rem;
  align-content: center;
  display: flex;
  /* background-color: red; */
}
.service--active .service:not(:hover),
.service-list:hover .service:not(:hover) {
  filter: brightness(0.9) grayscale(0.6);
}

.service--active .service:not(:hover) .service--more,
.service-list:hover .service:not(:hover) .service--more {
  opacity: 0;
}
.service {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: var(--gold);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);

  overflow: hidden;
}
.service:not(:first-child) {
  margin-left: 2rem;
}
.service--active,
.service:hover {
  transform: scale(1.06);
  /* transition-delay: 200ms; */
  box-shadow: var(--yellow-shadow);
  z-index: 1;
}
.service::before,
.service::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  opacity: 0.5;
  background-color: var(--navy);
  transition: all ease-in-out 400ms;
  border-left: 100px solid var(--navy);
  border-right: 10px solid var(--purple);
  z-index: 1;
}
.service::before {
  width: 170%;
  transform: skew(-45deg) translateX(-10%);
}
.service:hover::before {
  width: 200%;
  transform: skew(0deg) translateX(0);
}
.service--active .service__name,
.service:hover .service__name {
  z-index: 10;
}
.service__img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.56;
  filter: grayscale(0.96) brightness(0.8);
  background-color: var(--gold);
}
.service--active .service__img,
.service:hover .service__img {
  opacity: 1;
  filter: grayscale(0) brightness(1);
}
.center {
  position: absolute;
  width: 100%;
  height: 100%;
  translate: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service__name {
  position: relative;
  color: yellow !important;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0.76;
  z-index: 12;
}
.service--more {
  width: 40%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  color: var(--light);
  background-color: var(--navy) !important;
}
.service--active .service--more,
.service:hover .service--more {
  opacity: 1;
}
#team {
  height: 90vh;
}
.team--card {
  position: relative;
  margin-top: 2rem;
  width: 100%;
  height: 80%;
  display: grid;
  grid-auto-flow: column;
}
.member {
  position: relative;
  display: grid;
  align-items: end;
  cursor: pointer;
  padding: var(--sm-pad);
  z-index: 1;
  box-shadow: 0 0 16px 10px rgba(255, 205, 42, 1);
}
.member::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.192);
}
.member:hover {
  transform: scale(1.06);
  z-index: 10;
}
.member:hover .member__img {
  filter: blur(0) brightness(0.8);
}
.member__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  filter: grayscale(0.6) brightness(40%);
  z-index: -1;
}
.member:first-child {
  width: 110%;
  z-index: 2;
}
.member:nth-of-type(odd) {
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}
.member:nth-of-type(even) {
  margin-left: -15%;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}
.team--card:hover .member:not(:hover) {
  filter: blur(1px) brightness(0.4);
}
.trapez {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  filter: grayscale(0.6);
}
.member__details {
  position: relative;
  color: rgba(255, 255, 255, 0.86);
  font-weight: 300;
  width: 60%;
  height: 7rem;
  z-index: 1;
}
.member:nth-of-type(even) .member__details {
  margin-left: 2rem;
}
.member__details::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -8rem;
  background-color: rgba(0, 0, 0, 0.452);
  width: 400%;
  height: 200%;
  z-index: -1;
}
.member__name {
  color: var(--gold) !important;
}
.tag {
  font-style: 12px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.member__qoute {
  opacity: 0.86;
  font-weight: 300;
  margin-top: 0.5rem;
}
#contact {
  height: 65vh;
  flex-direction: column;
}
/* FORM FIELDS */

.form {
  position: relative;
  margin-top: 2rem;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 8rem;
}
.form__field {
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  height: 100%;
  max-height: 60vh;
  margin: 1rem 0 2rem;
}
.label {
  height: 2rem;
  margin: 8px 0;
}
.checkbox {
  position: absolute;
}
.input {
  width: 100%;
  height: 4rem;
  outline: none;
  border: none;
  margin: 0;
  padding: 8px;
  text-indent: 8px;
  border-bottom: none;
}
.input--area {
  padding-top: 16px;
  height: 100%;
  min-height: 35vh;
}
.form__submit {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 4rem;
  width: 100%;
  background-color: var(--gold);
  border-top: none;
}
.header-text {
  font-size: 28px;
  margin-top: 80px;
}
.hero {
  height: 40vh;
  margin-bottom: 5vh;
}
.hero-head {
  font-family: "Coalation";

  margin-bottom: 34px;
  position: relative;
}

.hero-head {
  font-size: var(--sm-pad);
  width: 40vw;
  margin-bottom: 0;
}

.sub-head {
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0.76;
}

/* end buttons */

.social-icons {
  width: 100px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  border-radius: 50%;
  margin: 0 1rem;
  padding: 0.5rem;
  /* background-color: #636363; */
  display: block;
}
.icon:hover {
  color: var(--gold);
}
.card {
  position: relative;
  background-color: var(--light);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.card--overlap {
  position: relative;
  --p: calc(var(--mn-pad) / 1.5);
  display: flex;
  flex-direction: column;
  width: calc(100vw - var(--mn-pad));
  top: -10vh;
  height: 85vh;
  margin-top: -6vh;
  padding: var(--sm-pad) var(--p);
}
.head-text {
  position: relative;
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;

  font-weight: bold;
  text-align: center !important;
}
.head-text::before {
  content: "";
  position: absolute;
  background-color: var(--gold);
  width: 3rem;
  height: 2px;
  top: -1rem;
}
.subtext {
  text-align: center;
  width: 60vw;
  margin: 1rem auto;
  margin-top: -1rem;
  padding: 0;
}
.hr-list {
  bottom: var(--p);
  width: 100%;
  height: 50vh;
  margin-top: 2rem;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}
.card--info {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding: 36px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  box-shadow: none;
  z-index: 1;
}
.card--info:hover .card__img {
  filter: grayscale(0.8) brightness(1) blur(0);
  opacity: 0.2;
}
details {
  position: relative;
  margin-top: 9px;
  margin-bottom: 24px;
}
details summary::-webkit-details-marker {
  display: none;
  list-style-type: none;
}
details summary {
  position: relative;
  outline: none;
  cursor: pointer;
}
details[open] summary {
  /* TODO: Show that it's collapsable */
}
details summary::before {
  position: absolute;
  content: "";
  left: -2.3rem;
  top: 0;
  width: 4px;
  height: 40px;
  background-color: black;
}
details:not([open]) summary::before {
  background-color: var(--gold);
}
details[open] summary ~ * {
  animation: show 1s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-2%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.link--more {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.4rem 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.link--more:hover {
  background-color: var(--navy);
  color: var(--light);
}
.link--more:hover .fas {
  transform: translateX(0.3rem);
}
.card__img {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 110%;
  filter: grayscale(0.9) brightness(1.1) blur(1px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  opacity: 0.16;
  z-index: -1;
}
/* FOOTER */
footer {
  position: sticky;
  width: 100%;
  padding: var(--sm-pad) var(--mn-pad);
  background-color: var(--light);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: var(--sm-pad);
  bottom: 0;
  z-index: 10;
}
.footer__group {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__group > * {
  display: grid;
  grid-template-columns: 2rem 1fr;
  justify-content: center;
}

.footer__head {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: 0.8rem;
  color: var(--navy);
  text-align: left;
}
.footer__item {
  margin: 0.1rem 0;
}
.rows {
  display: grid;
}
.rows > * {
  margin: 0;
}
/* MODAL AND POPUPS */
.modal {
  /* safe width, respect the main container padding*/
  --w: calc(100vw - var(--mn-pad) * 2);

  position: fixed;
  top: 50%;
  left: 50%;
  width: var(--w);
  height: 85vh;
  background-color: var(--light);
  padding: var(--sm-pad);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: none;
  transform: translate(-50%, -50%);
  transform-origin: center;
  overflow: hidden;
  z-index: 9999;
}
.modal--small {
  width: 45vw;
  height: 45vh;
  min-height: 45vh;
}
.modal--small .modal__text {
  height: 100%;
}
.modal--small .modal__text {
  padding: 0;
  text-align: justify;
  width: 100%;
}
.modal--small #btnModalClose {
  background-color: var(--navy);
  color: var(--gold);
  width: 100%;
}
.modal--large {
  width: var(--w);
  height: 80vh;
}
.modal--large .enquiry__group:first-child {
  animation: fadeIn 400ms ease-out reverse;
}
.modal--large .enquiry__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 400ms ease-out forwards;
}
overlap shadows only on modal list .modal > *:not(.wide-list) {
  z-index: 2;
}
.modal__input {
  background-color: var(--base);
}
.wide-list {
  --gap: 1rem;
  position: relative;
  width: calc(var(--w) + var(--sm-pad));
  flex-basis: 80%;
  margin-left: calc(var(--sm-pad) * -1);
  display: none;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 2rem;
  padding-left: calc(var(--sm-pad));
  margin-left: calc(var(--sm-pad) * -1);
  list-style: none;
}
.wide-list--dragged * {
  cursor: grabbing !important;
}
.wide-list::before,
.wide-list::after {
  content: "";
  position: fixed;
  width: 10vw;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.445),
    transparent
  );
  top: 0;
  left: -2px;
  z-index: 2;
}
.wide-list::after {
  left: unset;
  right: -2px;
  transform: rotate(180deg);
}
.btn--outline {
  align-self: flex-end;
  width: 100%;
  border: 2px solid var(--navy);
  background-color: #fff;
}
.btn--close {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: var(--sm-pad);
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  color: var(--navy);
  padding: 0;
  margin: 0;
  z-index: 2;
}
.modal ::-webkit-scrollbar {
  height: 1rem !important;
}
.modal ::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: var(--base);
}
.wide-list .list__item {
  /* Card width is container width minus the gap between it's siblings all divided by number of cards  */
  --card-width: calc((var(--w) - var(--gap)) / 4);
  position: relative;
  width: var(--card-width);
  height: 100%;
  min-height: 35vh;
  margin-right: var(--gap);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  cursor: pointer;
  padding: 36px;
  transform: scale(0.99);
}
.wide-list .list__item:last-child {
  margin-right: var(--card-width);
}
.wide-list .list__item:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgba(255, 191, 40, 0.527);
  z-index: 10;
}
.wide-list:hover .list__item:not(:hover) {
  filter: grayscale(1) brightness(0.7);
}
.enquiry__group {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: var(--sm-pad);
  margin: 0 !important;
  background-color: var(--light);
}
.enquiry__form {
  display: none;
}
/* .modal--enquiry .btn {
  width: 10rem;
  height: 5rem;
} */
.modal:not([open]) {
  opacity: 0;
}
.modal[open] {
  z-index: 9999;
  opacity: 1;
  animation: fadeIn 400ms;
}
.modal + .backdrop,
.modal::backdrop {
  background-image: linear-gradient(
    45deg,
    rgba(62, 9, 62, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  cursor: zoom-out;
}
.modal__head {
  text-align: left;
}
.modal__text {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
#btnRequestProdQoute {
  display: none;
}
/* REGION: Mobile */
@media screen and (max-width: 678px) {
  :root {
    --mn-pad: 6vw;
    --op--light: rgba(255, 255, 255, 0.16);
  }
  .stripes {
    width: 82vw;
    right: -96vw;
  }
  nav {
    --btn-bottom: calc(100vh - var(--nav-height) / 2);
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .logo {
    position: relative;
    z-index: 1;
  }
  .logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(var(--mn-pad) * -1);
    width: 38vw;
    height: 30vw;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: var(--op--light);
    z-index: -1;
  }
  .menu--chk {
    position: absolute;
    display: block;
    top: var(--btn-bottom);
    width: 0;
    height: 0;
    background: var(--light);
    outline: none;
    border: none;
    appearance: none;
    right: var(--mn-pad);
    z-index: 10;
  }
  .nav__links {
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: calc(var(--btn-bottom) - 4rem);
    top: 0;
    justify-content: end;
    align-items: end;
    grid-auto-flow: row;
    grid-template: 1fr auto/ 1fr;
    background-color: var(--light);
    padding: var(--mn-pad);
    padding-bottom: 30vh;
    clip-path: polygon(100% 80%, 100% 80%, 100% 100%, 66% 100%);
    transform: scaleY(100%);
    opacity: 0.16;
    transform-origin: right;
  }
  .nav__links .link {
    height: 4rem;
  }
  .menu--chk::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 18px;
    height: 18px;
    transform: translateX(-2rem);
    background-image: url(https://img.icons8.com/ios-filled/50/000000/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .menu--chk:checked::before {
    background: url(https://img.icons8.com/material-sharp/24/000000/delete-sign.png);
  }
  .nav__links .link {
    display: none;
  }
  .menu--chk:checked + .nav__links {
    opacity: 1;
    top: 0;
    transform: scaleY(1) !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .menu--chk:checked + .nav__links .link {
    display: flex;
  }
  .card__head {
    font-size: 1.4rem;
  }
  .details {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  details {
    background-color: transparent !important;
    display: none !important;
  }
  .modal {
    width: 100vw;
    height: 100vh;
  }
  .wide-list .list__item {
    width: calc(var(--card-width) * 3);
  }
  .container--short {
    height: 100vh;
  }
  .card--overlap {
    height: 100%;
  }
  .hr-list {
    flex-direction: column;
    grid-auto-flow: row;
    grid-template: 1fr 1fr/ 1fr;
    grid-gap: 0px;
    height: 80%;
    margin-top: 0;
  }
  #services {
    padding-left: 0;
    padding-right: 0;
  }
  #services::before,
  #services::after {
    display: none;
  }
  .service-list {
    height: 100vh;
    flex-direction: column;
  }
  .service {
    transform-origin: right;
  }
  .service:not(:first-child) {
    margin: 0;
  }
  .service--active,
  .service:hover {
    transform-origin: center;
    transform: scale(1);
    margin: 0;
  }
  .service__name {
    font-size: 16px;
  }
  .service::before {
    width: 100%;
    height: 100%;
  }
  #team {
    height: 120vh;
    padding: var(--sm-pad) 0;
  }
  .team--card {
    height: 80%;
    grid-auto-flow: row;
    grid-template: 1fr 1fr / 1fr;
    grid-gap: 0;
    background-color: rgba(0, 0, 0, 0.192);
  }
  .member {
    clip-path: none !important;
    margin: none;
    overflow: hidden;
    box-shadow: none;
  }
  .member:nth-of-type(even) {
    margin-left: -2rem;
  }
  .member__details {
    width: 100%;
    padding-bottom: 2rem;
  }
  .member__details::before {
    top: -220%;
    left: -4rem;
    height: 400%;
    width: 300%;
  }
  footer {
    font-size: 12px;
    grid-gap: 1rem !important;
    place-content: start;
    z-index: 0;
  }
  .footer__head {
    width: 100%;
  }
  .footer__group:first-child {
    display: none;
  }
}
/* STATE AND ANIMATION */
.show {
  display: block;
  z-index: 10;
  animation: fadeIn 400ms ease-out forwards;
}
.fade-in {
  animation: fadeIn 400ms ease-out forwards;
}
.fade-out {
  animation: fadeIn 400ms ease-out reverse;
}
@keyframes fadeIn {
  from {
    z-index: 0;
    opacity: 0;
    margin-top: 3rem;
  }
  to {
    z-index: 2;
    opacity: 1;
    margin-top: 0;
  }
}
/* States */
.hasError {
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.16);
  animation: nah 100ms ease-in-out;
}
@keyframes nah {
  from {
    transform: scale(1) translateX(-5px);
  }
  to {
    transform: scale(1.01) translateX(5px);
  }
}
